* {
    box-sizing: border-box;
  }
  body {
    background-color: #333;
  }
  img {
    max-width: 100%;
  }
  .hotspot {
    color: #fff;
    position: absolute;
  }
  .hotspot:hover .hotspot-content {
    display: block;
  }
  .hotspot:hover .hotspot-target {
    background-color: #fff;
    color: #000;
  }
  .hotspot-1 {
    top: 26%;
    left: 47%;
  }
  .hotspot-2 {
    top: 46%;
    left: 25.5%;
  }
  .hotspot-3 {
    top: 76.5%;
    left: 50.5%;
  }
  .hotspot-4 {
    top: 49%;
    left: 63%;
  }
  .hotspot-5 {
    top: 64.5%;
    left: 76.5%;
  }
  .hotspot-container {
    position: absolute;
  }
  .hotspot-content {
    background-color: rgba(0,0,0,0.6);
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    margin-top: 0;
    padding: 20px;
    position: absolute;
    z-index: 100;
    top: 30px;
    width: 300px;
  }
  .hotspot-image {
    display: block;
  }
  .hotspot-target {
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1;
    padding-bottom: 4px;
    text-align: center;
    width: 30px;
    height: 30px;
  }
  
.hotspot-target:before,
.hotspot-target:after {
    content: '';
    position: absolute;
    left: -7px;
    top: -7px;
    right: -7px;
    bottom: -7px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: animate 2s linear infinite
}

.hotspot-target:after {
    animation-delay: 1s;
}

@keyframes animate {
    0% {
        transform: scale(2.0);
    }

    100% {
        transform: scale(0.7);
    }
}
